body {
    background-color: #4FC3F7;
    height: 100%;
    width: 100%;
}

#clock{
    font-size: 52px;
    color: white;
    text-align: center;
}

#clockcontain{
    margin: 22% auto;
}